* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}
.container {
    background: red;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
        "d1 d2 d3"
        "d4 d5 d6"
        "d7 d8 d9";
    margin: auto;
    width: 600px;
}

.box {
    background: #ddd;
    /* color: #fff; */
    height: 180px;
    width: 100%;
}